body{
    margin : 0;
    background-image: url('./assets/bg.png');
    background-size: cover;
}

.frame{
    height: var(--HEIGHT);
    width: var(--WIDTH);
    display: block;
}

.t{
    transition-duration: var(--ANIM_DURATION);
}

.betDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bet{
    outline: none;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;;
    font-size: 30px;
    background-color: #ffffff71;
}

.creditDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.numbers{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 30px 0;
    font-size: 30px;
    background-color: #000000b2;
}

#spinContainer{
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.spinSlot{
    position: relative;
    height:300px;
    width:var(--WIDTH);
    background-color: rgba(0, 0, 0, 0.596);
    margin: 0 5px;
    overflow: hidden;
    border: solid #000 5px;
}

#btnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

#spinBtn{
    font-size: 60px;
    font-family: 'Passion One', sans-serif;
    background-color: rgb(187, 0, 0);
    color: white;
    border: solid #460000;
    margin-top: 20px;
    padding: 10px 40px; 
}
#spinBtn:active{
    background-color: rgb(252, 48, 48);
}