body{
    margin : 0;
    background-image: url('./assets/bg.png');
    background-size: cover;
}

.frame{
    height: var(--HEIGHT);
    width: var(--WIDTH);
    display: block;
}

.t{
    transition-duration: var(--ANIM_DURATION);
}

.betDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#bet{
    outline: none;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;;
    font-size: 30px;
    background-color: #ffffff71;
}

.creditDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.numbers{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    max-width: 30%;
    padding: 20px 0;
    font-size: 30px;
    background-color: #000000b2;
}

#spinContainer{
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.spinSlot{
    position: relative;
    height:300px;
    width:var(--WIDTH);
    background-color: rgba(0, 0, 0, 0.596);
    margin: 0 5px;
    overflow: hidden;
    border: solid #000 5px;
}

#btnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.btn{
    font-family: 'Passion One', sans-serif;
    background-color: rgb(187, 0, 0);
    color: white;
    border: solid #460000;
}
.btn:active{
    background-color: rgb(252, 48, 48);
}

#addBtn{
    font-size: 20px;
    margin-left: 10px;
    padding: 3px 15px; 
}

#spinBtn{
    font-size: 60px;
    margin-top: 20px;
    padding: 10px 40px; 
}

.incDecBtnContainer{
    display: grid;
    margin : 0;
    margin-left: 10px;
}

#incBetBtn{
    font-size: 13px;
    width : 100%;
    border-width: 2px;
    margin-bottom: 1px;
}

#decBetBtn{
    margin-top: 1px;
    font-size: 13px;
    width : 100%;
    border-width: 2px;

}

.alert-bg{
    background-color: #181818;
}

.alert-title{
    font-family: 'Roboto', sans-serif;;

}

.alert-text{
    font-family: 'Roboto', sans-serif;;

}

.alert-input {
    outline: none;
    box-shadow: none;
    border: none;
    padding: 0;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;;
    background-color: #ffffff71;
}

.alert-input:focus {
    outline-color: #460000;
}

.alert-btn{
    font-size: 30px;
    padding: 5px 50px;
}


#gain{
    display: block;
    margin : auto auto;
    font-size: 20px;
}